:root {
  --mainAqua:#6C8EAD;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white !important;
  color: var(--mainAqua) !important;
}

.title {
  font-family: 'Bitter', serif !important;
  text-transform: uppercase;
}
